<div class="flex items-center justify-center my-10 ">
  <div class="grid grid-cols-1">
        <div class="">
          <h1 class="text-xl text-center ">USUARIOS <fa-icon [icon]="iconAgregar" (click)="agregarUsuario()"  class="text-xl font-semibold text-center text-green-400 transition duration-700 cursor-pointer hover:text-green-800"></fa-icon></h1>
        </div>
        <ul class="my-2">
          <app-usuario-item  *ngFor="let usuario of usuarios" [usuario]="usuario" (editUsuario)="actualizarUsuario($event)" (deleteUsuario)="eliminarUsuario($event)" ></app-usuario-item>
        </ul>
  </div>
</div>
